@charset "UTF-8";
body{
	width:100%;
	height:100%;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

#main{
	width:42%;
	height:78rem;
	border:2px solid black;
	border-radius:10px;
	margin-top:5%;
}
.input-group{
	width:100%;
	margin:10% 7%;
}
label{
	color:black;
	font-size:25px;
}
input{
	margin-left:33px;
	padding-left:10px;
	font-size:20px;
	width:50%;
	height:3rem;
	border-radius:10px;
	background:none;
}
h1{
	text-align:center;
}
button{
	width:24%;
	height:3.15rem;
	margin:-6.5% 58.5%;
	border-radius:10px;
	font-size:18px;
	background:none;
	border:1px solid black;
	text-decoration:none;
	display:block;
	text-align:center;
	line-height:45px;
	color:black;
}
a{
	width:24%;
	height:3rem;
	margin-left:16%;
	margin-top:12%;
	border-radius:10px;
	font-size:18px;
	background:none;
	border:1px solid black;
	text-decoration:none;
	display:block;
	text-align:center;
	line-height:45px;
	color:black;
}
p{
	margin-top:3%;
	text-align:center;
	font-size:18px;
}
#a,#b,#c,#d{
	margin-left:95px;
}
#QuizzName{
	margin-left:55px;
}
#Question{
	width:50.5%;
	height:4rem;
	border:2px solid black;
	border-radius:10px;
	font-size:20px;
	margin-top:0%;
	margin-left:25.5%;
	background:none;
	line-height:22px;
	padding-top:15px;
	padding-left:10px;
}
#Que{
	margin-top:1.5%;
	position:absolute;
	margin-left:0%;
}
#correct{
	width:52%;
	height:3.5rem;
	border:2px solid black;
	border-radius:10px;
	background:none;
	margin-left:4%;
	padding-left:2%;
	font-size:20px;
	padding-right:1%;
}
select option{
	padding-top:5px;
	border:2px solid black;
	background-color:#b8c6db;
	border:2px solid black;
}
select option:hover{
	background-color:#c0ffc0;
}