@charset "UTF-8";

body{
	width:100%;
	height:100%;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

#main{
	width:30%;
	height:35rem;
	border:2px solid black;
	border-radius:10px;
}
.input-group{
	width:100%;
	margin:20% 7%;
}
label{
	color:black;
	font-size:25px;
}
input{
	margin-left:30px;
	padding-left:10px;
	font-size:20px;
	width:50%;
	height:3rem;
	border-radius:10px;
	background:none;
}
h1{
	text-align:center;
}
button{
	width:24%;
	height:3.15rem;
	margin:-9.25% 60.5%;
	border-radius:10px;
	font-size:18px;
	background:none;
	border:1px solid black;
	text-decoration:none;
	display:block;
	text-align:center;
	line-height:45px;
	color:black;
}
a{
	width:24%;
	height:3rem;
	margin:0% 14%;
	border-radius:10px;
	font-size:18px;
	background:none;
	border:1px solid black;
	text-decoration:none;
	display:block;
	text-align:center;
	line-height:45px;
	color:black;
}
p{
	margin-top:3%;
	text-align:center;
	font-size:18px;
}