@charset "UTF-8";
html,body{
	width:100%;
	height:100%;
	margin:0%;
	padding:0;
	color:black;
	font-weight:bold;
	font-size:26px;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
    display:flex;
    justify-content:center;
    align-items:center;
}
#main{
	height:730px;
	width:79%;
	border:2px solid black;
	margin-left:10%;
	margin-top:9.5%;
	margin:0%;
	border-radius:10px;
	

}
.line0{
	width:90%;
	height:55%;
	border:2px solid black;
	margin-left:5%;
	margin-top:4%;
	
	border-radius:10px;
}
h1{
	text-align:center;
	color:black;
	margin-top:4%;
	text-shadow:2px 2px 2px white;
	font-size:30px;
}

#head,#numberOfQuestion,#highestRank,#uploadDate,#te{
	color:black;
	margin-left:5%;
	margin-top:3.5%;
	
	font-weight:bold;
	font-size:26px;
}
.line:hover{
	background:black;
}

#li div{
	margin-top:1.3%;
	margin-left:5%;
}
#li div:first-child{
	margin-top:2.5%;
}
#home{
	width:131px;
	height:49px;
	color:black;
	line-height:25px;
	text-align:center;
	text-decoration:none;
	float:right;
	margin-right:-65%;
	margin-top:-50%;
	border:2px solid black;
	font-weight:bold;
	line-height:50px;
	position:absolute;
	border-radius:10px;
	
}

#home:hover{
	text-decoration:underline;
}
#bub{
	width:200px;
	height:50px;
	border:3px solid green;
	color:green;
	border-radius:10px;
	background-color:#b8c6db;
	
	font-weight:bold;
	font-size:23px;
	margin-top:-185px;
	margin-left:50%;
	position:absolute;
}