@charset "UTF-8";
body{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:black;
	margin:0%;
}

#box{
	width:580px;
	height:580px;
	border:1px solid white;
	background:black;
	
}

.input-group{
  position:relative;
  width:320px;
  margin:30px 0;
  margin-left:14%;
  margin-top:12%;
}
.input-group label{
	top:49%;
	left:5%;
  position:absolute;
  transform:translateY(-50%);
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
  color:white;
  font-size:20px;
  
}
.input-group input{
  width:117%;
  height:60px;
  font-size:16px;
  color:white;
  background: transparent;
  border:1px solid white;
  outline: none;
  border-radius:5px;
  margin-bottom:5px;
  padding-left:20px;
  
}
.input-group input:focus~label,
.input-group input:valid~label{
  top:0%;
  font-size:18px;
  color:white;
  background:black;
}

p{
	color:white;
	text-align:center;
	font-size:18px;
	
}
h1{
	color:white;
	text-align:center;
	font-size:29px;
	text-shadow:2px 2px 2px white;
	margin-top:4%;
	margin-bottom:3%;
}

#sub{
	width:17%;
	height:7%;
	border:1px solid black;
	background:#c0ffc0;
	color:black;
	font-weight:bold;
	font-size:18px;
     margin-left:56%;
     margin-top:10%;
}