@charset "UTF-8";
body{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	margin:0%;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
	
}
*{
	font-family: 'Source Code Pro', monospace;
}
#message{
	display:flex;
	width:340px;
	height:40px;
	
	position:absolute;
	margin-left:3%;
	margin-top:-49%;
	color:white;
	flex-direction:row;
}


#main{
	width:680px;height:400px;border:2px solid black;
	
}
.input-group{
  position:relative;
  width:320px;
  margin:30px 0;
}
.input-group label{
	margin-top:-14%;
	left:9%;
  position:absolute;
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
  
  font-size:20px;
  
}
.input-group input{
	margin-top:2%;
  width:117%;
  height:60px;
  font-size:16px;
  background: transparent;
  border:2px solid black;
  outline: none;
  border-radius:5px;
  padding-left:20px;
  margin-left:70%;
  
}


#gender{
	width:58.4%;
	height:63px;
	padding-left:2%;
	background:black;
	color:black;
	border:1px solid black;
	font-size:18px;
	margin-left:32.5%;
	border-radius:5px;
}

#user{
	width:56.5%;
	height:63px;
	padding-left:2%;
	color:black;
	border:2px solid black;
	font-size:18px;
	margin-left:32.5%;
	border-radius:5px;
	margin-bottom:5%;
	
}

.put{
	margin-top:1.4%;
	right:61%;
  position:absolute;
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
  color:black;
  font-size:20px;
  margin-right:3px;
} 


.put{
	margin-bottom:8px;
	position:absolute;
}
#u{
	margin-top:1.4%;
	margin-left:-11%;
	position:absolute;
}
#head{
	text-align:center;
	color:black;
	font-weight:bold;
	margin-top:3%;
	margin-bottom:6%;
}
#sub{
	width:17%;
	height:10%;
	border:2px solid black;
	background-color:#b8c6db;
	color:black;
	font-size:20px;
	margin-left:65%;
	margin-top:4%;
}
#use{
	color:black;
	margin-left:2%;
	margin-top:5%;
}
#tick{
	width:24px;
	height:24px;
	margin-left:15px;
	margin-top:7px;
	position:absolute;
}
#Messag{
	color:green;
	font-size:18px;
	margin-top:8px;
	margin-left:58px;
	position:absolute;
	
}
.fa-xmark{
	
	margin-top:7px;
	margin-left:91%;
	font-size:25px;
	position:absolute;
	color:black;
	
}

#home{
	width:8%;
	height:5%;
	border:2px solid black;
	color:black;
	font-size:20px;
	margin-left:59%;
	margin-top:-44%;
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	

}
#home:hover{
	text-decoration:underline;
}
