@charset "UTF-8";
body{
	width:100%;
	height:100%;
	background:black;
	display:flex;
	min-height:100vh;
	align-items:center;
	justify-content:center;
}
body #password-show{
	width:500px;
	height:694px;
	border:1px solid white;
	overflow:hidden;
}
.input-group{
  position:relative;
  width:320px;
  margin:30px 0;
  margin-top:14%;
  margin-left:19%;
}
.input-group label{
  position:absolute;
  top:50%;
  left:5%;
  color:white;
  transform:translateY(-50%);
  font-size:21px;
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
}
.input-group input{
  width:80%;
  height:60px;
  font-size:16px;
  color:white;
  padding:0 10px;
  background: transparent;
  border:1px solid white;
  outline: none;
  border-radius:5px;
  margin-top:1%;
  padding-left:28px;
}
.input-group input:focus ~ label ,
.input-group input:valid ~ label{
  top:0;
  font-size:14px;
  color:white;
  background:black;
}

.fa-eye,.fa-eye-slash{
	position:absolute;
	top:37%;
	right:6%;
	font-size:18px;
	color:white;
}
h1{
	color:white;
	text-shadow:2px 2px 2px white;
	text-align:center;
	font-size:28px;
	margin-top:8%;
}
#sub{
	width:37%;
	height:10%;
	margin-left:48%;
	margin-top:6%;
	color:white;
	font-size:16px;
	background:green;
	border-radius:5px;
}
p a{
	color:red;
	text-decoration:none;
	font-size:18px;
	margin-left:1%;
}
p a:hover{
	color:white;
	text-decoration:underline;
	
}
p{
	text-align:center;
	margin-top:5%;
	color:white;
	font-size:18px;
}
