@charset "UTF-8";
*{
  margin:0;
  padding:0;
  box-sizing:border-box ;
  font-family: 'Poppins', sans-serif;
}
body{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh ;
  background:black;
  overflow:hidden;
}
.wrapper{
  position:relative;
  width:400px;
  height:500px;
}
.form-wrapper{
  position:absolute;
  top:0;
  left:-30px;
  width:130%;
  height:100%;
  background-color:black;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 0 10px rgba(0,0,0,-2);
  margin-right:4%;
  border-radius:5px;
  border:1px solid white;
}
h1{
  font-size:30px;
  color:white;
  text-align:center;
  margin-top:4%;
  margin-bottom:20%;
}
.input-group{
  position:relative;
  width:320px;
  margin:30px 0;
}
.input-group label{
  position:absolute;
  top:50%;
  left:5%;
  color:white;
  transform:translateY(-50%);
  font-size:21px;
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
}
.input-group input{
  width:100%;
  height:60px;
  font-size:16px;
  color:white;
  padding:0 10px;
  background: transparent;
  border:1px solid white;
  outline: none;
  border-radius:5px;
  margin-top:1%;
}
.input-group input:focus ~ label ,
.input-group input:valid ~ label{
  top:0;
  font-size:14px;
  color:white;
  background:black;
}
.forgot-pass{
  margin:-15px 0 15px;
}
.forgot-pass a{
  color:white;
  font-size:14px;
  text-decoration:none;
}
.forgot-pass a:hover{
  text-decoration:underline ;
}

.btn{
  margin-top: 5%;
  margin-left:0;
  width:100%;
  height:40px;
  background:linear-gradient(to right,#2196f3,#e91e63);
  font-size:16px;
  color:#fff;
  font-weight:500;
  cursor:pointer;
  border-radius:5px;
  border:none;
  outline:none;
}
.sign-link{
  text-align:center;
  margin:25px 0;
  font-size:14px;
}
.sign-link p{
  color:white;
}
.sign-link p a{
  color:red;
  text-decoration:none;
  font-weight:600;
}
.sign-link p a:hover{
  text-decoration:underline;
}
#password{
	position:relative;
}
.fa-eye,.fa-eye-slash{
	position:absolute;
	top:37%;
	right:6%;
	font-size:18px;
	color:white;
}

.input-group input[type="password"],
.input-group input[type="text"]{
	width:100%;
	padding:12px 36px 12px 12px;
	box-sizing:border-box;
}
p{
	color:white;
	text-align:center;
}