@charset "UTF-8";

body{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
}
#main{
	width:400px;
	height:500px;
	border:1px solid black;
}
#main #t1{
	width:120px;
	height:50px;
	border:1px solid black;
	margin-left:33%;
	margin-top:5%;
}
#main #t2{
	width:120px;
	height:50px;
	border:1px solid black;
	margin-left:33%;
	margin-top:9%;
}
a{
	text-decoration:none;
	font-size:20px;
	color:black;
}