@charset "UTF-8";
*{
	box-sizing:border-box;
}
#mmm{
	width:200px;
	height:50px;
	
	list-style-type:none;
	flex-direction:row;
	display:flex;
	position:absolute;
	margin-top:-52%;
	margin-left:-1%;
	line-height:44px;
	font-size:39px;
	justify-content:center;
	 border-radius:10px;
}
#mmm li{
	margin-left:4%;
}
#mmm li:first-child{
	margin-left:-20%;
}
body{
	font-family:'Poppins',sans-serif;
	display:flex;
	align-items:center;
	justify-content:center;
	height:100vh;
	overflow:hidden;
	margin:0%;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
}
.quiz-container{
	background-color:#fff;
	border-radius:10px;
	box-shadow:0px 0px 10px 2px rgba(100,100,100,0.1);
	width:600px;
	overflow:hidden;
}
.quiz-header{
	padding:4rem;
}
h2{
	padding:1rem;
	text-align:center;
	margin:1%;
	
}
#nn{
	list-style-type:none;
	padding:0;
	
}
#nn li{
	font-size:1.2rem;
	margin:1rem 0;
}
#nn li label{
	cursor:pointer;
}
#rel,#sub{
	background-color:#03cae4;
	color:#fff;
	width:100%;
	border:none;
	display:block;
	cursor:pointer;
	font-size:1.1rem;
	font-family:inherit;
	padding:1.3rem;
	border-radius:10px;
}
#rel:hover,#sub :hover{
	background-color:#04adc4;
}
#rel:focus,#sub :hover{
	outline:none;
	background-color:#44b927;
}
#re{
	display:block;
	width:187px;
	height:52px;
	border:1px solid black;
	margin-left:32%;
	margin-top:5%;
	color:black;
	line-height:51px;
	text-decoration:none;
	font-size:18px;
	border-radius:10px;
}
#re:hover{
	text-decoration:underline;
}
#mm{
	width:90px;
	height:31px;
	border:1px solid black;
	margin-left:81%;
	margin-top:3%;
	line-height:25px;
	color:black;
    text-decoration:none;
    border-radius:2px;
    display:block;
    padding-left:21px;
    line-height:26px;
    border-radius:5px;
}
#mm:hover{
	text-decoration:underline;
}

#back{
	width:80px;
	height:37px;
	padding-left:19px;
	margin-top:-30%;
	margin-left:50%;
	position:absolute;
	color:black;
	text-decoration:none;
	border:2px solid black;
	line-height:31px;
	
}