@charset "UTF-8";

body{
	width:100%;
	height:100%;
	margin:0%;
	background-color:#b8c6db;
	background-image:linear-gradient(315deg,#b8c6db 0% ,#f5f7f7 100%);
}
 
#file{
	width:174px;
	height:174px;
	border:1px solid black;
	border-radius:92px;
	margin-left:37%;
    margin-top:10%;
}
#img{
	width:172px;
	height:172px;
    cursor:pointer;
    border-radius:92px;
	
}
input[type="file"]{
	display:none;
}
#profile{
	width:680px;
	height:841px;
	border:1px solid black;
	margin-top:1%;
	margin-left:30%;
	background:white;
	
	
}
#head{
	width:80%;
	height:134px;
	border:1px solid black;
	color:white;
	text-align:center;
	background:#888a85;
	margin-bottom:0%;
	margin-left:9%;
	display:flex;
	align-items:center;
	
}
span{
	font-size:37px;
	font-weight:bold;
	color:white;
	margin-left:13%;
}
#img1{
	width:45px;
	height:35px;
	color:black;
	margin-left:24%;
	margin-top:-2%;
	position:absolute;
}

.input-group{
  position:relative;
  width:320px;
  margin:30px 0;
 
}
.input-group label{
	top:49%;
	left:5%;
  position:absolute;
  transform:translateY(-50%);
  padding: 0 5px;
  pointer-events:none;
  transition:.5s;
  color:black;
  font-size:20px;
  
}
.input-group div{
  width:117%;
  height:60px;
  font-size:16px;
  color:black;
  background: transparent;
  border:1px solid black;
  outline: none;
  border-radius:5px;
  margin-bottom:5px;
  padding-left:20px;
  margin-left:55%;
  
  
  font-size:20px;
  font-weight:bold;
  line-height:2.8;
}
.input-group input:focus~label,
.input-group input:valid~label{
  top:0%;
  font-size:18px;
  color:white;
  background:black;
}
#mm{
	margin-left:51%;
	margin-top:0%;
	font-size:20px;
	text-decoration:none;
	color:white;
}