<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<filter>
<filter-name>AuthenticationFilter</filter-name>
<filter-class>filters.AuthenticationFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>AuthenticationFilter</filter-name>
<url-pattern>/Student/*</url-pattern>
<url-pattern>/Admin/*</url-pattern>
</filter-mapping>
<filter>
<filter-name>AuthorizationFilter</filter-name>
<filter-class>filters.AuthorizationFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>AuthorizationFilter</filter-name>
<url-pattern>/Admin/*</url-pattern>
</filter-mapping>
<filter>
<filter-name>ValidationFilter</filter-name>
<filter-class>filters.ValidationFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>ValidationFilter</filter-name>
<url-pattern>/SignupServlet</url-pattern>
</filter-mapping>
</web-app>
